<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de productos</title>

</head>
<body>
<h1>Lista de productos</h1>
<ul>
    <% products.forEach(product => { %>
        <li>
            <p>ID: <%= product._id %></p>
            <h2><%= product.name %></h2>
            <img src="<%= product.image %>" alt="<%= product.name %>">
            <p><%= product.description %></p>
            <p>Categoría: <%= product.category %></p>
            <p>Talla: <%= product.size %></p>
            <p>Precio: <%= product.price %>€</p>
            <a href="/products/<%= product._id %>">
                <button>Ver más información</button>
            </a>
        </li>
    <% }); %>
</ul>
</body>
</html>
