<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar producto</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" href="/styles.css">

</head>
<body class="body-details">
    <h1>Editar producto</h1>
    <form action="/dashboard/<%= product._id %>" method="POST" class="form-details">

        <!-- Método PUT -->
        <input type="hidden" name="_method" value="PUT">

        <div class="form-group">
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" value="<%= product.name %>" required>
        </div>

        <div class="form-group">
            <label for="description">Descripción:</label>
            <input type="text" id="description" name="description" value="<%= product.description %>" required>
        </div>

        <div class="form-group">
            <label for="image">Imagen (URL):</label>
            <input type="text" id="image" name="image" value="<%= product.image %>" required>
        </div>

        <div class="form-group">
            <label for="category">Categoría:</label>
            <select id="category" name="category" required>
                <option value="Camisetas" <%= product.category === 'Camisetas' ? 'selected' : '' %>>Camisetas</option>
                <option value="Pantalones" <%= product.category === 'Pantalones' ? 'selected' : '' %>>Pantalones</option>
                <option value="Zapatos" <%= product.category === 'Zapatos' ? 'selected' : '' %>>Zapatos</option>
                <option value="Accesorios" <%= product.category === 'Accesorios' ? 'selected' : '' %>>Accesorios</option>
            </select>
        </div>

        <div class="form-group">
            <label for="size">Talla:</label>
            <select id="size" name="size" required>
                <option value="XS" <%= product.size === 'XS' ? 'selected' : '' %>>XS</option>
                <option value="S" <%= product.size === 'S' ? 'selected' : '' %>>S</option>
                <option value="M" <%= product.size === 'M' ? 'selected' : '' %>>M</option>
                <option value="L" <%= product.size === 'L' ? 'selected' : '' %>>L</option>
                <option value="XL" <%= product.size === 'XL' ? 'selected' : '' %>>XL</option>
            </select>
        </div>

        <div class="form-group">
            <label for="price">Precio:</label>
            <input type="number" id="price" name="price" value="<%= product.price %>" required>
        </div>

        <button class="submit" type="submit">Actualizar Producto</button>
    </form>
</body>

</html>
