<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del producto (Dashboard)</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" href="/styles.css">

</head>
<body class="body-details">

    <nav>
        <ul class="navegador">

          <li><a href="/dashboard">Inicio</a></li>
          <li><a href="/products">Productos</a></li>
          <li><a href="/products?category=Camisetas">Camisetas</a></li>
          <li><a href="/products?category=Pantalones">Pantalones</a></li>
          <li><a href="/products?category=Zapatos">Zapatos</a></li>
          <li><a href="/products?category=Accesorios">Accesorios</a></li>
          <li><a href="/login">Login</a></li>
          
        </ul>
    </nav>

    <h1>Detalle del producto (Dashboard)</h1>

    <div class="container">

        <img src="<%= product.image %>" alt="<%= product.name %>">

        <div class="info">
            <h2><%= product.name %></h2>
            <br>
            <p>"<%= product.description %>"</p>
            <br>
            <p>ID: <%= product._id %></p>
            <br>
            
            <div class="info-details">
                <p>Categoría: <%= product.category %></p>
                <p>Talla: <%= product.size %></p>
                <p>Precio: <%= product.price %>€</p>
            </div>

            <a href="/dashboard">
                <button>Volver</button>
            </a>

            
        </div>
    </div>

    <div class="btns-dev">

        <a href="/dashboard/<%= product._id %>/edit">
            <button class="danger">Editar Producto</button>
        </a>
        
        <form id="deleteForm" action="/dashboard/<%= product._id %>/delete" method="POST">
            <button class="danger" id="deleteButton" type="button">Eliminar Producto</button>
        </form>

    </div>
    

    <script>
        document.getElementById('deleteButton').addEventListener('click', function() {
            if (confirm('¿Estás seguro de que quieres eliminar este producto?')) {
                fetch('/dashboard/<%= product._id %>/delete', {
                    method: 'DELETE'
                })
                    .then(response => {
                        if (response.ok) {
                            window.location.href = '/dashboard';
                        } else {
                            alert('No se pudo eliminar el producto');
                        }
                    })
                    .catch(error => console.error('Error al eliminar el producto:', error));
            }
        });
    </script>

</body>
</html>
